@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
    backdrop-filter: blur(50px);
}

.logo {
  font-size: 1.5rem;
  font-weight: 800;
  color: #fff;
  text-decoration: none;

}

.navbar a {

  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  margin-left: 1.5rem;
}

.icons {
  display: none;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}   


@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {
 .icons {    
    display: block;
}     
}

.navbar {
    position:absolute;
    top:0
}
                
